// Navigation Styles here

header {
  border-bottom: 2px dashed @navigation-border;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-size: 1.6rem;

  a {
    text-decoration: none;
    padding-right: 28px;
  }

  @media @mobile {
    flex-direction: column;
    padding-bottom: 5px;

    nav {
      margin-top: 20px;
      padding-bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    a {
    }

    h1 {
      font-size: 3rem;
    }
  }
}
