// Navigation Styles here

header {
  border-bottom: 2px dashed @navigation-border;
  display: flex;
  justify-content: center;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font-size: 1.6rem;

    a {
      text-decoration: none;
    }

    nav a {
      padding-right: 28px;
    }

    @media @tablet {
      flex-direction: column;
      padding-bottom: 5px;
      nav {
        margin-top: 20px;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      nav a {
        padding: 0;
      }
    }
  }
}
