// Navigation Styles here

header {
  border-bottom: 2px dashed @navigation-border;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-size: 1.6rem;
  a {
    text-decoration: none;
    padding-right: 28px;
  }
}

.welcome {
  border-bottom: 2px dashed @navigation-border;
  .text {
    padding: 20px 0 10px 0;
  }
}
